# PORT=3000
# NODE_ENV=development
# APP_NAME=flowupS
# APP_URL=http://localhost:3000
# SESSION_SECRET=change-me

# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=ticket_management
# DB_PREFIX=ab_

# LEGACY_ROOT=..
# LEGACY_APP_DIR=application
# LEGACY_UPLOADS_DIR=uploads
# LEGACY_TIMEZONE=Asia/Kolkata
# LEGACY_ENCRYPTION_KEY=KFjfdJFNBBKIRMICdkf45

# JWT_SECRET=1132e486f42b1f714fae447fcdab07f1ea819b4f7b997864c8b5f4869e148811
# JWT_EXPIRE=1d


NODE_ENV=production
PORT=3000
APP_NAME=flowupS CallDesk

# VERCEL
APP_FE_URL=https://calldesk.flowups.in/
APP_URL=https://api.calldesk.flowups.in

# LOCALHOST
# APP_FE_URL=http://localhost:5173
# APP_URL=http://localhost:3000

SESSION_SECRET=change-me
JWT_SECRET=1132e486f42b1f714fae447fcdab07f1ea819b4f7b997864c8b5f4869e148811
JWT_EXPIRE=1d

DB_HOST=13.60.209.177
DB_PORT=3306
DB_USER=root
DB_PASSWORD=StrongPassword123
DB_NAME=ticket_management
DB_PREFIX=ab_

# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=root
# DB_NAME=ticket_management
# DB_PREFIX=ab_

PER_PAGE=10

LEGACY_ROOT=/home/ubuntu
LEGACY_APP_DIR=application
LEGACY_UPLOADS_DIR=uploads
LEGACY_TIMEZONE=Asia/Kolkata
LEGACY_ENCRYPTION_KEY=KFjfdJFNBBKIRMICdkf45

# EMAIL_USER=your-email@gmail.com
# EMAIL_PASS=your-gmail-app-password
